html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  /*      Theme colors        */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;

  /* gradient color   */
  --sky: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  --silence: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);

  /*      theme font-family    */
  --abel: "Abel", cursive;
  --anton: "Anton", cursive;
  --josefin: "Josefin", cursive;
  --lexend: "Lexend", cursive;
  --livvic: "Livvic", cursive;
}

/*------------------ Landing Page ----------------------------*/
main .site-title {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/background.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main .site-title .site-background {
  padding-top: 15rem;
  text-align: center;
  color: var(--white);
}

main .site-title h1,
h2 {
  margin: 0.3rem;
  padding-bottom: 2rem;
}

main .site-title .btn {
  margin: 5rem;
  background: var(--sky);
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white); /* makes text white when button is transparent */
}

main .site-title .typing {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc3816,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 700ms infinite;
}

main .site-title .arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 3px 3px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

main .site-title .arrow:hover {
  border-bottom-width: 7px;
  border-right-width: 7px;
  border-color: #fc1157;
  transition: border-color 300ms ease-in-out;
}

main .site-title .down {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

/* __________________________ About Us ____________________________*/

main .about-me-details {
  padding: 8rem 7rem;
  display: grid;
  grid-template-columns: 70% 30%;
}

main .about-me-details .about-side {
  padding-left: 3rem;
  padding-top: 0rem;
}

main .about-me-details .about-side .profile-pic {
  border-radius: 50%;
  height: 30vh;
  width: 27vh;
  margin-bottom: 4rem;
}

main .about-me-details h2 {
  font-size: 1.6rem;
  font-family: var(--lexend) !important;
}

main .about-me-details h3 {
  font-size: 1.2rem;
  font-family: var(--livvic) !important;
}

main .about-me-details p {
  font-family: var(--livvic) !important;
}

main .about-me-details .about-side .about-side-content .tag {
  background: var(--sky);
  color: black;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  margin: 0.4rem 0.6rem;
}

main .about-me-details .arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 0px 3px 3px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

main .about-me-details .arrow:hover {
  border-bottom-width: 7px;
  border-right-width: 7px;
  border-color: #ff417a;
  transition: border-color 300ms ease-in-out;
}

main .about-me-details .down {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

/* ___________END____________ About Us ______________End___________*/
